#wrapper {
    margin: 0 auto;
    padding-top: 100px;
}

#usersTable {
    border-collapse: collapse;
}

#usersTable, #usersTable td {
    border: 1px solid black;
}

#usersTable td {
    padding: 4px;
}

.table_header {
    font-weight: bold;
    background: #669900;
    color: #ffffff;
}

.input {
    line-height: 20px;
    border: 1px solid #999;
    box-shadow: inset 0 0 3px #999;
    padding: 4px;
    background-color: #f9f9f9;
    outline: 0;
    width: 200px;
}

.input:focus {
    border: 1px solid #000;
    background-color: #fff;
}

.button {
    margin: 3px 0;
    padding: 5px;
    cursor: pointer;
}

input.error {
    border: 1px solid #ff0000;
}

form {
    margin: 0;
}

#addUser label {
    width: 250px;
    color: #ff0000;
    font-size: 14px;
}

#addGroup label {
    width: 250px;
    color: #ff0000;
    font-size: 14px;
}

.tabs-wrapper {
    background: darkorange;
    padding: 6px;
    margin-bottom: 8px;
}

ul.tabs {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.tabs li {
    background: none;
    color: #ffffff;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabs li.active {
    background: #ededed;
    color: darkorange;
}

.tab-content {
    display: none;
    background: #ededed;
    padding: 15px 10px;
}

.tab-content.active {
    display: inherit;
}
