#wrapper {
    margin: 0 auto;
    padding-top: 100px;
}

.content {
    border: 2px solid #777;
    padding: 30px 20px 10px;
}

.switchers {
    padding-bottom: 20px;
}

.table_header {
    font-weight: bold;
}

.input {
    width: 245px;
}

.errorblock {
    color: #000;
    background-color: #ffEEEE;
    border: 1px solid #ff0000;
    padding: 8px;
    margin: 16px 0;
}