body {
    margin: 50px 0;
    padding: 0;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 4px;
}

table {
    width: 500px;
}

#mainContent {
    width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 15px;
    border: 1px dashed #333;
    background-color: #eee;
}

.tableHeader {
    font-weight: bold;
    text-align: center;
}